@model dynamic

@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<h2>About</h2>
<p>
    Patrycjusz Naklicki
</p>
<p>
    Mateusz Nowak
</p>
<p>
    Bartłomiej Pabisiak
</p>
<p>
    Dawid Paleń
</p>
<p>
    Damian Stachelczyk
</p>
