@model dynamic

@{
    ViewBag.Title = "O serwisie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Twórcy</h2>
<p>
    Patrycjusz Naklicki
</p>
<p>
    Mateusz Nowak
</p>
<p>
    Bartłomiej Pabisiak
</p>
<p>
    Dawid Paleń
</p>
<p>
    Damian Stachelczyk
</p>
