<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>

    <appSettings>

    </appSettings>


  <connectionStrings>
    <add name="StudnetDatabase" connectionString="data source=studnetserver.database.windows.net;initial catalog=studnet;persist security info=True;user id=studnetserveradmin;password=studnetadmin1@;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>     
</configuration>
