
@{
    ViewBag.Title = "Zmiana hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zmiana hasła</h2>
@{
    if (ViewBag.Success == false)
    {
        
        <form method="post">
            @{
                if (ViewBag.Error != null)
                {
                    <p style="color: red"><b>@ViewBag.Error</b>
                    </p>
                }
            }
            <div class="form-group">
                <label for="oldPassword">Stare hasło:</label>
                <input type="password" name="oldPassword" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="newPassword">Nowe hasło:</label>
                <input type="password" name="newPassword" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="newPasswordRepeat">Powtórz nowe hasło:</label>
                <input type="password" name="newPasswordRepeat" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Zmień hasło" class="btn btn-default"/>
            </div>
        </form>
    }
    else
    {
        <p style="color: green">Hasło zostało zmienione.</p>
    }
}