
@{
    ViewBag.Title = "Sukces";
}

<h2>@ViewBag.Title</h2>

Hasło zostało poprawnie zmienione. Kliknij <a href="~/User/Login">tutaj</a>, aby się zalogować lub <a href="~/MainPage/Index">tutaj</a>, aby przejść na stronę główną.

