
@{
    ViewBag.Title = "PostRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zarejestrowano</h2>
<p>Na podany adres e-mail wysłano wiadomość zawierającą link aktywacyjny. Aby móc korzystać z konta należy wejść pod podany w mailu adres</p>

