
@{
    ViewBag.Title = "PostRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zarejestrowano</h2>
<p>Na podany adres e-mail wysłano wiadomość zawierającą link aktywacyjny. Link będzie dostępny przez 7 dni.</p>

