@{
    ViewBag.Title = "Zresetuj hasło";
}

<h2>@ViewBag.Title</h2>
@{
    if (ViewBag.Email == "" || ViewBag.Email == null)
    {
        <font color="red"><b>Wystąpił nieoczekiwany błąd. Spróbuj ponownie</b></font>
    }

    if (ViewBag.TotalError != null)
    {
        <font color="red"><b>@ViewBag.TotalError</b></font>
    }
    else
    {
        <form method="post">
            @{
                if (ViewBag.Error != null)
                {
                    <font color="red"><b>@ViewBag.Error</b></font>
                }
            }
            <input name="user_mail" value="@ViewBag.Email" hidden />
            <div class="form-group">
                <label for="newPassword">Nowe hasło:</label>
                <input type="password" name="newPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label for="repeatNewPassword">Powtórz hasło:</label>
                <input type="password" name="repeatNewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Zmień hasło" />
            </div>
        </form>
    }
}
