@{
    ViewBag.Title = "Zresetuj hasło";
}

<h2>@ViewBag.Title</h2>

<form method="post">
    @{
        if (ViewBag.Error != null)
        {
            <font color="red"><b>@ViewBag.Error</b></font>
        }
    }
    <div class="form-group">
        <label for="user_mail">Podaj adres email na który ma zostać wysłane nowe hasło:</label>
        <input type="text" name="user_mail" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Zresetuj hasło" />
    </div>
</form>